<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<footer th:fragment="footer" id="footer" class="footer text-center">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<img src="images/footer-logo.png" alt="footer logo"/>

					<div class="footer-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							<li><a href="#"><i class="fa fa-telegram"></i></a></li>
							<li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
						</ul>
					</div><!-- Footer social end -->

					<div class="footer-menu">
						<ul class="nav unstyled">
							<li><a href="/">Inicio</a></li>
							<li><a href="#">Profeta David Owuor</a></li>
							<li><a href="#">Conferencia</a></li>
							<li><a href="#">Enfermos</a></li>
							<li><a href="#">Preguntas Frecuentes</a></li>
						</ul>
					</div><!-- Footer menu end -->

					<div class="copyright-info">
						<span>© 2022 Ministerio de Arrepentimiento y Santidad. Todos los derechos reservados.</span>
					</div><!-- Copyright info end -->

				</div><!-- Content col end -->
			</div><!-- Content row end -->
		</div><!-- Container end -->

		<div class="footer-pattern"></div> <!-- Footer pattern image -->

		<div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
			<button class="btn btn-primary" title="Back to Top">
				<i class="fa fa-angle-up"></i>
			</button>
		</div>

	</footer><!-- Footer end -->
</body>