<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">

<head>

    <!-- CSS
        ================================================== -->
    <link rel="stylesheet" href="vendors/formvalidation/dist/css/FormValidation.min.css">

    <!-- Javascript Files
        ================================================== -->
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="vendors/formvalidation/dist/js/FormValidation.min.js"></script>
    <script type="text/javascript" src="vendors/formvalidation/dist/js/plugins/Bootstrap3.js"></script>
    <script type="text/javascript" src="js/negocio/registroconferencia.js"></script>

</head>

<body>
    <div layout:fragment="content" th:remove="tag">
        <div id="page-banner-area" class="page-banner-area" style="background-image:url(images/banner/banner1.jpg)">
            <!-- Subpage title start -->
            <div class="page-banner-title">
                <div class="text-center">
                    <h2>Conferencia de Pastores y Líderes</h2>
                </div>
            </div><!-- Subpage title end -->
        </div><!-- Banner end -->

        <section id="main-container" class="main-container">
            <div class="container">

                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                        <div class="sidebar sidebar-left">
                            <div class="widget contact-info">
                                <div class="contact-info-box">
                                    <i class="fa fa-map-marker">&nbsp;</i>
                                    <div class="contact-info-box-content">
                                        <h4>Lugar y horario</h4>
                                        <p th:text="${conferencia.lugar} + ' - ' + ${conferencia.horario}"></p>
                                    </div>
                                </div>

                                <div class="contact-info-box">
                                    <i class="fa fa-envelope-o">&nbsp;</i>
                                    <div class="contact-info-box-content">
                                        <h4>Correo</h4>
                                        <p th:text="${conferencia.correo}"></p>
                                    </div>
                                </div>

                                <div class="contact-info-box">
                                    <i class="fa fa-whatsapp">&nbsp;</i>
                                    <div class="contact-info-box-content">
                                        <h4>WhatsApp</h4>
                                        <p th:text="'+' + ${conferencia.contacto}"></p>
                                    </div>
                                </div>

                            </div><!-- Widget end -->
                        </div><!-- Sidebar left end -->
                    </div><!-- Sidebar col end -->

                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <form id="form_conferencia" action="#" method="post" role="form">
                            <div class="error-container"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-formulario">Nombres</label>
                                        <input class="form-control form-control-name" name="txt_nombres" id="txt_nombres" placeholder="" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-formulario">Apellidos</label>
                                        <input class="form-control form-control-name" name="txt_apellidos" id="txt_apellidos" placeholder="" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-formulario">Correo</label>
                                        <input class="form-control" name="txt_correo" id="txt_correo" placeholder="" type="email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-formulario">Celular</label>
                                        <input class="form-control" name="txt_celular" id="txt_celular" placeholder="" type="number" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-formulario">Edad</label>
                                        <input class="form-control" name="txt_edad" id="txt_edad" placeholder="" type="number" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-formulario">País</label>
                                        <select class="form-control" name="sel_pais" id="sel_pais" required>
                                            <option value="">Seleccione</option>
                                            <option th:each="pais : ${paises}"
                                                    th:value="${pais.id}"
                                                    th:text="${pais.descripcion}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-formulario">¿Cómo conoció al profeta?</label>
                                        <select class="form-control" name="sel_fuente" id="sel_fuente" required>
                                            <option value="">Seleccione</option>
                                            <option th:each="fuente : ${fuentes}"
                                                    th:value="${fuente.id}"
                                                    th:text="${fuente.descripcion}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="label-formulario">Iglesia</label>
                                        <input class="form-control" name="txt_iglesia" id="txt_iglesia" placeholder="" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-formulario">Cargo</label>
                                        <select class="form-control" name="sel_cargo" id="sel_cargo" required>
                                            <option value="">Seleccione</option>
                                            <option th:each="cargo : ${cargos}"
                                                    th:value="${cargo.id}"
                                                    th:text="${cargo.descripcion}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="text-left"><br>
                                <button id="btn_registro" class="btn btn-primary solid blank" type="button">Registrarse</button>
                            </div>
                        </form>
                    </div><!-- Col end -->

                </div><!-- Content row -->

            </div><!-- Conatiner end -->
        </section><!-- Main container end -->
    </div>
</body>
</html>